@import 'tailwindcss';

@layer base {
  body {
    font-family: var(--font-sans, system-ui);
  }
}

/* 进度条 */
input[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
}
input[type='range']::-webkit-slider-runnable-track {
  height: 6px;
  border-radius: 3px;
  background: #e5e7eb;
}
